export(opImputation)
#export(makeAndMeasureRepeatedImputations)
#export(retrieveZdeltas)
#export(create_prepaire_Datasets)
#export(createBarplotMeanZDeltas)
#export(createPDERawZDeltas)
#export(findBestMethod)
#export(retrieveAveragedImputedData)
#export(makeABCanaylsis)
import(parallel)
import(ggplot2)
import(ggforce)
import(pbmcapply)
import(stringr)
import(methods)
import(cowplot)
importFrom(stats, na.omit,  IQR, coef, sd, median, predict, runif, wilcox.test, ks.test, quantile,pchisq)
importFrom(utils, sessionInfo)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(caret, preProcess)
importFrom(mice,  mice)
importFrom(missForest, missForest)
importFrom(miceRanger, miceRanger, impute)
importFrom(multiUS, KNNimp)
importFrom(Amelia, amelia, amelia.default)
importFrom(mi, mi)
importFrom(reshape2, melt)
importFrom(scales, pretty_breaks)
importFrom(DataVisualizations, ParetoDensityEstimation)
importFrom(abind, abind)
importFrom(ABCanalysis, ABCanalysis)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(Rfit, rfit)
