export(opImputationAnalyze)
export(opImputationImpute)
import(parallel)
import(ggplot2)
import(pbmcapply)
import(methods)
import(cowplot)
importFrom(stats, na.omit,  IQR, coef, median, predict, runif, wilcox.test, quantile, pchisq)
importFrom(utils, sessionInfo)
importFrom(caret, preProcess)
importFrom(mice,  mice)
importFrom(missForest, missForest)
importFrom(miceRanger, miceRanger, impute)
importFrom(multiUS, KNNimp)
importFrom(Amelia, amelia, amelia.default)
importFrom(mi, mi)
importFrom(reshape2, melt)
importFrom(DataVisualizations,  ParetoDensityEstimation)
importFrom(ABCanalysis, ABCanalysis)
importFrom(Rfit, rfit)
importFrom(twosamples, dts_test)
importFrom(ggh4x, facet_grid2)
importFrom(ggrepel, geom_text_repel)
