useDynLib(opImputation, .registration = TRUE)
export(compare_imputation_methods)
export(impute_missings)
import(parallel)
import(future.apply)
import(progressr)
import(ggplot2)
import(methods)
import(cowplot)
importFrom(stats, na.omit,  IQR, coef, median, predict, runif, wilcox.test, quantile, pchisq, cor.test, sd)
importFrom(utils, sessionInfo, tail)
importFrom(abind, abind)
importFrom(caret, preProcess)
importFrom(mice,  mice)
importFrom(missForest, missForest)
importFrom(miceRanger, miceRanger, impute)
importFrom(multiUS, KNNimp)
importFrom(Amelia, amelia, amelia.default)
importFrom(mi, mi)
importFrom(reshape2, melt)
importFrom(DataVisualizations,  ParetoDensityEstimation)
importFrom(ABCanalysis, ABCanalysis)
importFrom(Rfit, rfit)
importFrom(twosamples, dts_test)
importFrom(ggh4x, facet_grid2)
importFrom(ggrepel, geom_text_repel)
importFrom(tools, pskill)
importFrom(Rcpp, evalCpp)
